body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 80px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.box{
      max-width: 800px;
      margin: 0 auto;
      color: #695b5b;
      background-color: white;
      padding-left: 20px;
      padding-right: 20px;
}